name: Squares API CI

on:
  push:
    tags:
      - '*'

permissions:
  contents: read
  security-events: write

jobs:
  go-ci:
    uses: maxmorhardt/workflows/.github/workflows/ci-go.yml@main
    with:
      repository: ${{ github.repository }}
      build_path: './cmd/main.go'
      binary_name: ${{ github.event.repository.name }}
    secrets: inherit

  docker-ci:
    uses: maxmorhardt/workflows/.github/workflows/ci-docker.yml@main
    needs: go-ci
    with:
      repository: ${{ github.repository }}
      app_name: ${{ github.event.repository.name }}
      app_version: ${{ github.ref_name }}
      artifact_name: ${{ github.event.repository.name }}
    secrets: inherit
